@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    /* Para evitar rolagem horizontal */
}


#acabar-dividas{
    margin: 0px 30px 0px 30px;
    background-color: #2E3E4E;
    border: 1px solid #2f3e54;
    border-radius: 22px;
}

#checkout{
    margin-top: -50px;
}

.spacing{
    height: 70px;
}

.spacing-2{
    height: 40px;
}




.kumbh {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kumbh-bold {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-light {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}






.text-p {
    color: #2E3E4E;
}

.text-shadow {
    text-shadow: 0px 4px 4px #0000003c;
}

.f-16 {
    font-size: 16px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-32 {
    font-size: 32px;
}

.f-50 {
    font-size: 50px;
}

.main {
    height: 100%;
    width: 100%;
}

.bg-azure {
    background-color: #2E3E4E;
}

.text-azure {
    color: #2E3E4E;
}

.barra {
    max-height: 5px;
}

.imagem {
    width: 110%;
}

.bg-1 {
    width: 100%;
    height: 787px;
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    outline: 4px solid rgba(75, 113, 151, 0.46);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.bg-quiz {
    height: 100%;

}

.grief {
    width: 278px;
}

.one-edge-shadow {
    box-shadow: 0 8px 6px -6px black;
}

.vantagens {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.section{
    background-color: white;
}
.triangle-divider {
    width: 0;
    height: 0;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    border-top: 50px solid rgba(46, 62, 78, 1);
    margin: 0 auto;
    background-color: white;
}